* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@font-face {
  font-family: dj-dj;
  src: url(fonts/538LyonsLogoTextRegular-2qnX.ttf);
}

p {
  font-family: dj-dj;
  letter-spacing: .4rem;
  color: black;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  margin-bottom: 0px;


}

.indexHero {
  margin: 0;
  padding: 0;


}

.introBlurb {
  position: absolute;
  bottom: 500px;
}

h1 {
  font-family: dj-dj;
  letter-spacing: .4rem;
  color: black;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  margin-top: 550px;
  margin-bottom: 0px;
}

.heroImage {
  position: absolute;
  bottom: 325px;
  right: 550px
}

.container {

  width: 100%;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.container div {
  width: 100px;
  height: 0px;
  background: rgb(212, 211, 211);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.animate {
  transform: scale(4.0);
}

.name {
  width: 100px;
  height: 100px;
  transition: width 2s;
}

.name:hover {
  width: 3px;
}

.container div h2 {
  font-family: dj-dj;
  letter-spacing: .4rem;
  color: black;
  font-weight: 800;
  font-size: 69px;
}

.container div h3 {
  font-family: dj-dj;
  letter-spacing: .4rem;
  color: limegreen;
  font-size: 17px;
}